
/*Responsivo Tablet*/
@media (min-width : 430px) and (max-width: 1198px) {
    .CarouselLogin img {
        margin-left: 0px !important;
    }
    .btnclassifications{margin-top: -40px}
    
	#logar .classificationInfo {
    width: 100%;
    margin-left: 0px;
    }	
	header #logotipo {
    top: -13px;
    margin-left: 72px;
    margin-right: 75px;
    }

    .searchClassification input {width: 94% !important;}
	
    /*Perfil*/
	.perfil .perfilPicture {
    margin-top: 10px;
    margin-left: 266px !important;
	}
    .perfil .classification {
    margin-left: 76%;
    }
    .perfil #carrossel{
        width: 665px !important;
    }
    .perfilMatch .perfilMatchList {
    color: #8a8989;
    border-bottom: 1px solid #dad2d2;
    margin-bottom: 20px;
    margin-left: -19px;
    }

    .col-md-12.btn.btn-navbar{
        width: 100%;
    }

    /*Lista de Amigos*/
    .ListFriends .col-md-4 {
    width: 100% !important;
    }
    .ListFriends .classification {
    margin-left: 100px;
    margin-top: -85px;
    }
    .ListFriends .img_classification {
    width: 510px;
    margin-top: 10px;
    }
    .ListFriends .img_classification label {
    margin-left: 60px;
    }
    .ListFriends .media-heading {
    text-align: left;
    width: 350px;
    margin-top: 7px;
    }
    .ListFriends .starClassification {
    background-position: -4px -4px;
    margin-top: -86px;;
    margin-right: -40px;
    }
	.ListFriends .classificationTrue {
    background-position: -4px -43px;
    margin-top: -88px;
    margin-right: -41px;
    z-index: 9999;
    }
    .ListFriends .starClassification:hover {
        background-position: -4px -43px;
        margin-top: -155px;
        margin-right: -44px;
    }
    footer .footerIcon{
        padding-right: 20% !important;
        padding-left: 40px !important;
    }
    header .headerIcon{
        padding-right: 20% !important;
        padding-left: 40px !important;
    }


.notification .img_classification {
    width: 4px !important;
    margin-top: -26px;
}
.ListFriends .notification .Nfdate {
    margin-top: -33px !important;
    margin-left: 7px !important;
}

.msgClamigos {
    font-size: 10px;
    color: #cecdcd;
    position: absolute;
    margin-top: -57px;
    margin-left: 113px;
}
	
}/*END Responsivo Tablet*/



/*Responsivo Tablet*/
@media (min-width : 480px) and (max-width: 768px) {
	.CarouselLogin img {
        margin-left: 0px !important;
    }
	#logar .classificationInfo {
    width: 100%;
    margin-left: 0px;
    }	
	header #logotipo {
    top: -13px;
    margin-left: 72px;
    margin-right: 75px;
    }

    .searchClassification input {width: 94% !important;}
	
    /*Perfil*/
	.perfil .perfilPicture {
    margin-top: 10px;
    margin-left: 266px !important;
	}
    .perfil .classification {
    margin-left: 76%;
    }
    .perfil #carrossel{
        width: 665px !important;
    }
    .perfilMatch .perfilMatchList {
    color: #8a8989;
    border-bottom: 1px solid #dad2d2;
    margin-bottom: 20px;
    margin-left: -19px;
    }

    .col-md-12.btn.btn-navbar{
        width: 100%;
    }

    /*Lista de Amigos*/
    .ListFriends .col-md-4 {
    width: 100% !important;
    }
    .ListFriends .classification {
    margin-left: 100px;
    margin-top: -85px;
    }
    .ListFriends .img_classification {
    width: 510px;
    margin-top: 10px;
    }
    .ListFriends .img_classification label {
    margin-left: 50px;
    }
    .ListFriends .media-heading {
    text-align: left;
    width: 350px;
    margin-top: 7px;
    }
    .ListFriends .starClassification {
    background-position: -4px -4px;
    margin-top: -60px;;
    margin-right: -40px;
    }
	.ListFriends .classificationTrue {
    background-position: -4px -43px;
    margin-top: -60px;
    margin-right: -41px;
    z-index: 9999;
    }
    .ListFriends .starClassification:hover {
        background-position: -4px -43px;
        margin-top: -155px;
        margin-right: -44px;
    }
    footer .footerIcon{
        padding-right: 20% !important;
        padding-left: 40px !important;
    }
    header .headerIcon{
        padding-right: 20% !important;
        padding-left: 40px !important;
    }


.notification .img_classification {
    width: 4px !important;
    margin-top: -26px;
}
.ListFriends .notification .Nfdate {
    margin-top: -33px !important;
    margin-left: 7px !important;
}

.msgClamigos {
    font-size: 10px;
    color: #cecdcd;
    position: absolute;
    margin-top: -57px;
    margin-left: 113px;
}
	
}/*END Responsivo Tablet*/


/*Responsivo Modile Android*/
@media (min-width : 320px) and (max-width : 480px){
    .CarouselLogin img {
        margin-left: 0px !important;
    }
    
    .btnclassifications{margin-top: -40px}

    #logar .classificationInfo {
    width: 330px;
    margin-left: 0px;
    }    
    #logar .classificationInfo img{
    width: 300px !important;
    }
	
	header #logotipo {
        top: -13px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .searchClassification {
        margin-top: 50px !important;
        width: 100% !important;
    }

    .searchClassification input {width: 94% !important;}


    .perfil .perfilPicture {
        margin-left: 73px !important;
    }
    .perfil .classification {
    margin-left: 7%!important;
    }
    .perfil .perfilbrprogress p {
    margin-left: 70% !important;
    }
    .perfilNewFriends #carrossel {width: 305px !important;}
    .perfilNewFriends ul li {
        padding-left: 9px !important;
    }
    .perfilMatch .perfilMatchList {
    color: #8a8989;
    border-bottom: 1px solid #dad2d2;
    margin-bottom: 20px;
    margin-left: -18px;
    }
    .ListFriends li .LfPicture img {
    width: 83px;
    height: 83px;
    border-radius: 76px;
    border: 2px solid rgba(163, 173, 183, 0.54);
    margin-bottom: 6px;
    }

    .ListFriends .classification {
    margin-left: 25%;
    margin-top: -30%;
    }

    .notification li img {
    width: 83px;
    height: 83px;
    border-radius: 76px;
    border: 2px solid rgba(163, 173, 183, 0.54);
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    } 
    
    .ListFriends .col-md-4 {
        width: 100%;
    }
    .ListFriends li ul li {
        display: inline-block;
        margin: 0px;
        width: 41px;
        height: 35px;
        margin-top: 7px;
    }
    .ListFriends ul.img_classification {
        width: 298px;
        margin-left: 13px;
        position: inherit;
        margin-top: 0px;
    }
    .ListFriends .media-heading {
    text-align: left;
    margin-left: 20px;
    }
    .ListFriends .LfLocation {
        text-align: center;
        font-size: 9px;
        margin-left: 2px;
        margin-top: -3px;
    }
    .ListFriends .starClassification {
    background-position: -4px -4px;
    margin-top: -85px;
    margin-right: -53px;
    }
    .ListFriends .classificationTrue {
    background-position: -4px -43px;
    margin-top: -85px;
    margin-right: -53px;
    z-index: 9999;
    }
    /* .ListFriends .starClassification:hover {
        background-position: -4px -43px;
        margin-top: -155px;
        margin-right: -44px;
    } */
    .ListFriends .list-group {
        margin-left: 0px;
    }

    .ListFriends .img_classification{
    width: 287px !important;
}
    .ListFriends .img_classification label{
        margin-left: 11px !important;
    }

    footer .row-creditos-footer {
        display: none;
    }
    footer .col-md-4 {
        width: 100px;
    }

    footer .col-md-3{width: 40%;}


/*===========Notificacao===========*/
.ListFriends li .notification img  {
    width: 83px;
    height: 83px;
    border-radius: 76px;
    border: 2px solid rgba(163, 173, 183, 0.54);
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 6px;
}
.notification .img_classification {
    width: 4px !important;
    margin-top: -26px;
}
.ListFriends .notification .Nfdate {
    margin-top: -33px !important;
    margin-left: 7px !important;
}

.msgClamigos {
    font-size: 10px;
    color: #cecdcd;
    position: absolute;
    margin-top: -57px !important;
    margin-left: 113px !important;
}


}/*END Android*/


/*Responsivo Iphone 5*/
@media (min-width: 200px) and (max-width: 320px) {
    .CarouselLogin img {
        margin-left: 0px;
    }
  .btnNotification .profile .media {margin-left: -30px !important;}

  .btnclassifications{margin-top: -40px}

  .searchClassification input {width: 94% !important;}
    
    #logar .classificationInfo {
    width: 100%;
    }    
    #logar .classificationInfo img{
    width: 300px !important;
    margin-left: -20px;
    }
	
	header #logotipo {
    top: -13px;
    margin-left: 35px;
    margin-right: 35px;
    }

    .searchClassification {
        margin-top: 50px !important;
        width: 100% !important;
    }
 
    .perfil .perfilPicture {
        margin-left: 53px !important;
    }
    .perfil .classification {
    margin-left: 0%!important;
    }
    .perfil .perfilbrprogress p {
    margin-left: 70% !important;
    }
    .perfilNewFriends #carrossel {width: 305px !important;}
    .perfilNewFriends ul li {
        padding-left: 9px !important;
    }
    .perfil #carrossel{
        width: 245px !important;
        margin-left: 11px !important;
    }
    .perfilMatch .perfilMatchList {
    color: #8a8989;
    border-bottom: 1px solid #dad2d2;
    margin-bottom: 20px;
    }
    .ListFriends li .LfPicture img {
    width: 83px;
    height: 83px;
    border-radius: 76px;
    border: 2px solid rgba(163, 173, 183, 0.54);
    margin-left: 50%;
    margin-right: 101px;
    margin-bottom: 6px;
    }
    .ListFriends .col-md-4 {
        width: 100%;
    }
    .ListFriends li ul li {
        display: inline-block;
        margin: 0px;
        width: 41px;
        height: 35px;
        margin-top: 7px;
    }
    .ListFriends ul.img_classification {
        width: 298px;
        margin-left: 13px;
        position: inherit;
        margin-top: 0px;
    }
    .ListFriends .media-heading {
        text-align: center;
    }
    .ListFriends .LfLocation {
        text-align: center;
        font-size: 9px;
        margin-left: 2px;
        margin-top: -3px;
    }
    .ListFriends .starClassification {
    background-position: -4px -4px;
    margin-top: -155px;
    margin-right: -44px;
    }
    .ListFriends .classificationTrue {
    background-position: -4px -43px;
    margin-top: -158px;
    margin-right: -44px;
    z-index: 9999;
    }
    .ListFriends .starClassification:hover {
        background-position: -4px -43px;
        margin-top: -155px;
        margin-right: -44px;
    }
    .ListFriends .list-group {
        margin-left: 0px;
    }

    .ListFriends .img_classification{
    width: 266px !important;
}
    .ListFriends .img_classification label{
        margin-left: 10px !important;
    }

   
    footer .row-creditos-footer {
        display: none;
    }
    footer .col-md-4 {
        width: 100px;
    }

    footer .col-md-3{width: 40%;}


/*===========Notificacao===========*/
.ListFriends li .notification img  {
    width: 83px;
    height: 83px;
    border-radius: 76px;
    border: 2px solid rgba(163, 173, 183, 0.54);
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 6px;
}

.notification .img_classification {
    width: 4px !important;
    margin-top: -67px;
}
.ListFriends .notification .Nfdate {
    margin-top: -33px !important;
    margin-left: 7px !important;
}


.msgClamigos {
    font-size: 10px;
    color: #cecdcd;
    position: absolute;
    margin-top: -57px;
    margin-left: 113px;
}


}/*END - Responsivo Iphone 5*/











